* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(20deg, rgb(229, 242, 246), rgb(1, 93, 82));
}

canvas {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.7);
}
canvas:hover {
  box-shadow: none;
  border: 2px solid rgb(133, 209, 1);
  cursor: none;
}
h2 {
  text-align: center;
  margin: 20px 0 -10px 0;
  font-size: 28px;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
p {
  text-align: center;
  line-height: 30px;
  padding: 5px 20px;
  color: rgb(133, 209, 1);
}
